.table-div {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: 5px auto;
}

.row-div {
  display: table-row;
}

.cell-div {
  display: table-cell;
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
  vertical-align: top;
}

.table-div .row-div:first-child .cell-div {
  font-weight: bold;
  background-color: #666;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.row-div:nth-child(odd) .cell-div {
  background-color: #f9f9f9;
}

.row-div:hover .cell-div {
  background-color: #DEDEFA;
}
